################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/TemplateTPCorto/FileContentIndex/249d0c85-ab23-474b-a065-521188b83531.vsidx
/.vs/TemplateTPCorto/FileContentIndex
